* {
  box-sizing: border-box;
}

:root {
  --background-primary: #ebeff3;
  --background-secondary: #e4e4e4;
  --background-third: #6fa78e;
  --text-primary: #000000;
  --text-secondary: white;
  --border-primary: #b2cfc2;
  --shadow-primary: #c2c2c2;
}

:root[theme="dark"] {
  --background-primary: #363636;
  --background-secondary: #5d5d5d;
  --text-primary: #ffffff;
  --text-secondary: black;
  --border-primary: #5b5b5b;
  --shadow-primary: #404040;
  --background-third: #1e4634;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: var(--background-secondary);
}

main {
  padding: 1rem;
  margin: auto;
  max-width: 800px;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: var(--background-primary);
  padding: 0 1.5rem;
  box-shadow: 1px 1px 1px 1px var(--shadow-primary);
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: var(--text-primary);
}

.main-header__item a:visited,
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: var(--text-primary);
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--background-primary);
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: var(--background-third);
  color: var(--text-secondary);
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid var(--border-primary);
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: var(--text-primary);
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: var(--text-primary);
  border-color: var(--border-primary);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px var(--shadow-primary);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.card__actions form {
  display: inline-block;
}

.btn {
  padding: 5px 10px;
  background: var(--background-primary);
  color: var(--text-primary);
  border: 1px solid var(--border-primary);
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font: inherit;
}

.btn:hover {
  background: var(--background-secondary);
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}

.centered {
  text-align: center;
}