.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
  background: var(--background-primary);
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
  color: var(--text-primary);
}

.product__price {
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
  color: var(--text-primary);
  padding-top: 10px;
}