<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">

      <li class="main-header__item">
        <a class="active" href="/">Home</a>
      </li>
      <li class="main-header__item">
        <a href="/product-list">Products</a>
      </li>

      <% if (isAuthenticated) { %>
      <li class="main-header__item">
        <a href="/cart">Cart</a>
      </li>
      <li class="main-header__item">
        <a href="/orders">Orders</a>
      </li>

      <li class="main-header__item">
        <a href="/admin/create-product">Create Product</a>
      </li>
      <li class="main-header__item">
        <a href="/admin/product-list">Admin Products</a>
      </li>
      <% } %>
    </ul>

    <ul class="main-header__item-list">
      <% if (!isAuthenticated) { %>
          <li class="main-header__item">
              <a href="/login">Login</a>
          </li>
          <li class="main-header__item">
              <a href="/signup">Signup</a>
          </li>
      <% } else { %>
          <li class="main-header__item">
              <form action="/logout" method="post">
                  <button type="submit">Logout</button>
              </form>
          </li>
      <% } %>
  </ul>

  </nav>
  <button class="theme-toggler">Theme</button>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
          <li class="mobile-nav__item">
              <a class="" href="/">Home</a>
          </li>
          <li class="mobile-nav__item">
              <a class="" href="/product-list">Products</a>
          </li>

          <% if (isAuthenticated) { %>
          <li class="mobile-nav__item">
              <a class="" href="/cart">Cart</a>
          </li>
          <li class="mobile-nav__item">
              <a class="" href="/orders">Orders</a>
          </li>

          <li class="mobile-nav__item">
              <a class="" href="/admin/create-product">Create Product
              </a>
          </li>
          <li class="mobile-nav__item">
              <a class="" href="/admin/product-list">Admin Products
              </a>
          </li>
          <% } %>

          <% if (!isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a href="/login">Login</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/signup">Signup</a>
            </li>
          <% } else { %>
            <li class="mobile-nav__item">
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
          <% } %>
      </ul>
</nav>