<%- include('../includes/head.ejs') %>
</head>



<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (orders.length) { %>
            <ul>
                <% for (o of orders) { %>
                    <li> <%= o.totalPrice %> </li>
                <% } %>
            </ul>
        <% } else { %>
            <p>No Orders Placed</p>
        <% } %>
    </main>
    
    <%- include('../includes/end.ejs') %>
    